<h1>You are in views/manuscript/index.html.erb!</h1>
<p>How about that?<p>
  <p>Bryan, this is the internet. I'm watching you.</p>
  
  <h2>Here is the list of books</h2>
  <table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @manuscript.each do |manuscript| %>
    <tr>
      <td><%= manuscript.title %></li>
      <td><%= manuscript.author %></li>
      <td><%= link_to "Show", manuscript %></td>
      <td><%= link_to "Edit", edit_manuscript_path(manuscript) %>
      <td><%= link_to "Remove", manuscript, method: :delete, data: { confirm: "Delete this entry?" } %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to "New manuscript", new_manuscript_path %>